.container
  .row.profile
    .span3.side-nav
      %h6 STUDENTS
      - @students.each do |student|
        %p
          = gravatar_image_tag(student.email, class: "img-border img-circle", gravatar: { size: 25 })
          = link_to "#{student.name}", student_path(student.id), class: "student-name"
      = link_to "ADD STUDENT", new_student_path, class: "btn btn-success btn-mini"
    .span8
      %h6 TIMELINE
      .activities
        = render "shared/activity"
      = paginate @activities