.container
  = render "shared/student"
  .row.profile
    = render "shared/student_side_nav"
    .span8
      = form_for @mentor_report, { url: student_mentor_report_path(id: @mentor_report, student_id: @student.id, user_id: current_user.id), method: :patch } do |f|
        %h5 EDIT MENTOR REPORT
        %hr
        .row
          .span3
            %h6 DATE
            %p #{format_time(@mentor_report.created_at)}
          .span2
            %h6 INSTRUCTOR
            %p #{@mentor_report.user.name}
          .span3
            %h6 MENTOR
            = f.collection_select :mentor_id, Mentor.all, :id, :name
        %hr
        %h6 OBSERVATIONS
        = f.submit "SAVE", class: "btn btn-mini btn-success btn-one-on-one"
        = f.text_area :description, class: "one-on-one"