.container
  = render "shared/student"
  .row.profile
    = render "shared/student_side_nav"
    .span8
      %h5 MENTOR REPORT
      %hr
        .row
          .span3
            %h6 DATE
            = format_time(@mentor_report.created_at)
          .span2
            %h6 INSTRUCTOR
            = @mentor_report.user.name
          .span3
            %h6 MENTOR
            - if @mentor_report.mentor
              = link_to @mentor_report.mentor.name, mentor_path(@mentor_report.mentor.id)
            - else
              Unknown
      %hr
      %h6 OBSERVATIONS
      = link_to "EDIT", edit_student_mentor_report_path(id: @mentor_report.id, student_id: @student.id), class: "btn btn-mini btn-success btn-one-on-one"
      %p= raw @mentor_report.description