.container
  = render "shared/student"
  .row.profile
    = render "shared/student_side_nav"
    .span8
      %h5 EDIT ONE-ON-ONE
      %hr
      %h6 DATE
      %p #{format_time(@one_on_one.created_at)}
      %h6 INSTRUCTOR
      %p #{@one_on_one.user.name}
      %hr
      %h6 OBSERVATIONS
      = form_for(@one_on_one, url: "/students/#{@student.id}/one_on_ones/#{@one_on_one.id}") do |f|
        = f.submit "SAVE", class: "btn btn-mini btn-success btn-one-on-one"
        = f.text_area :description, class: "one-on-one"
        = f.hidden_field :user_id, value: current_user.id