.container
  = render "shared/mentor"
  .row.profile
    = render "shared/mentor_side_nav"
    .span8
      = form_for @mentor_report, { url: mentor_reports_path(id: @mentor_report, mentor_id: @mentor.id, user_id: current_user.id) } do |f|
        %h5 NEW MENTOR REPORT
        %hr
        .row
          .span3
            %h6 DATE
            %p #{format_time(Time.now)}
          .span2
            %h6 INSTRUCTOR
            %p #{current_user.name}
          .span3
            %h6 STUDENT
            = f.collection_select :student_id, Student.all, :id, :name
        %hr
        %h6 OBSERVATIONS
        = f.submit "SAVE", class: "btn btn-mini btn-success btn-one-on-one"
        = f.text_area :description, class: "one-on-one"